numpy
dill
cython
jupyter
jupyterlab
scipy
matplotlib
pandas
daft
patsy
statsmodels
scikit-learn
seaborn
pillow
nltk
sympy
networkx
theano
ptpython
requests
xlrd
pandas
pystan
tensorflow
six
edward
pymc3
